*.swp
ext-tree/board/

# backup text files
*.un~
*~

# executables
# for now these need to be explicitly noted for EACH ONE
hello/hello

# test coverage files
*.gcno
*.gcda

# Ignore the .DS_Store file created on Macs.
.DS_Store
