dist: trusty

addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - wget
            - pkg-config
            - valgrind
before_install:
    - wget https://github.com/bazelbuild/bazel/releases/download/0.10.0/bazel_0.10.0-linux-x86_64.deb
    - wget https://github.com/bazelbuild/bazel/releases/download/0.10.0/bazel_0.10.0-linux-x86_64.deb.sha256
    - sha256sum -c bazel_0.10.0-linux-x86_64.deb.sha256
    - sudo dpkg -i bazel_0.10.0-linux-x86_64.deb
script:
    - bazel build ...
    - bazel test ...
