[Unit]
Description=Radiation Tests Compiler

[Service]
Type=simple
ExecStart=/bin/sh -c "g++ -std=c++11 -pthread /home/alarm/RadiationTestsRunner/src/testrunner/*.cpp /home/alarm/RadiationTestsRunner/src/common/*.cpp -Itestrunner -Icommon -o /home/alarm/RadiationTestsRunner/src/radsrunner"
StandardOutput=journal+console
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
