[Unit]
Description=Radiation Tests Compiler

[Service]
Type=oneshot
ExecStart=/home/alarm/RadiationTestsRunner/src/compileRadsrunner.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
