[Unit]
Description=Radiation Tests Runner
After=compileradsrunner.service

[Service]
ExecStart=/home/debian/RadiationTestsRunner/src/radsrunner --server 10.0.0.2 --iterations 30
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
